* {
  box-sizing: border-box;
}
main{
  display: flex;
  justify-content: center;
  background-color: black;
}
.array-element {
  height: 22px;

  width: 22px;
  
  font-size: 18px;
  
  padding: 4px;
  
  background:
  white;
  
  border: 4px solid rgba(255, 2, 2, 0.8);
  
  margin: -20px;
  
  text-align: center;
  
  min-width: min-content;
  
  opacity: 0;
  
  box-sizing: content-box;
}

.array {
  display: flex;
}

.root-row {
  display: flex;
}

.space-around {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
}