*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: white;
}
#root {
  width: 100wh;
  height: 100vh;
  background-color: black;
}

.App {
  height: 100%;
}

h1 {
  color: white;
  text-align: center;
}

.visRoot{
  display: flex;
  justify-content: center;
}

.main-header {
  margin-bottom: 2vh;
}
a {
  color:
white;
font-size: x-large;
margin: 10px;
position: relative; 
z-index:2;
}

.control-btns{
  margin-top: 3vh;

  margin-bottom: 3vh;
}

button{
  background:
#fff0;
border: 1px solid
white;
cursor: pointer;
font-size: large;
height: 5vh;
width: 10vw;
border-radius: 44px;
}

.start{
  color: green;
}

.playAgain{
  color: yellow;
}

.stop {
  color: red;
}


.array-element {
  height: 22px;

  width: 22px;
  
  font-size: 18px;
  
  padding: 2px;
  
  background:
  white;
  
  border: 2px solid rgba(255, 2, 2, 0.8);
  
  margin: 1px;
  
  text-align: center;
    
  opacity: 0;
  
  box-sizing: content-box;
}

.array {
  display: flex;
}

.root-row {
  display: flex;
}

.space-around {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.heading {
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

ul {
  text-align: center;
  list-style-type: disc;
  color: white;
  font-size: 25px;
}

li {
  position: relative;
}
.control-speed {
 display: flex;
}

label {
  color: white;
  margin-right: 2vh;
  font-size: large;
}

img {
  position: absolute;

width: 90vh;

top: -45px;

border-radius: 31px;

left: 55px;
opacity: 0.85;
transition: all 0.3s ease-in;
}

.note {
  margin: 0;
  position: relative;
  z-index: 2;
}
.important {
  color: red;
}

.footer {
  position: absolute;
  bottom: 0px;
}

.footer a {
  font-size: medium;
}