main{
  display: flex;
  justify-content: center;
}
.array-element {
  height: 40px;
  width: 40px;
  font-size: 36px;
  padding: 4px;
  background:powderblue;
  border: 1px solid black;
  margin: 4px;
  text-align: center;
}

.array {
  display: flex;
}

.root-row {
  display: flex;
}