*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: white;
}

html {
  width: 100wh;
  height: 100vh;
  background-color: #080708;
}

.App {
  height: 100%;
}

h1 {
  color: white;
  text-align: center;
}

.visRoot{
  display: flex;
  justify-content: center;
}

.main-header {
  margin: 3vh 2vh 3vh 2vh;
}

.main-header .replay {
  background-color: #FFC107;
}

a {
  color: white;
  font-size: x-large;
  margin: 10px;
  position: relative; 
  z-index:2;
}

.drawer-link {
  color: black;
  font-size: 22px;
  text-decoration: none;
}

.control-btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

button {
  background: #fff0;
  border: 1px solid white;
  cursor: pointer;
  font-size: large;
  height: 5vh;
  width: 10vw;
  border-radius: 44px;
}

.array-element {
  height: 22px;
  width: 22px;
  font-size: 18px;
  padding: 2px;
  background:   white;
  margin: 1px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  box-sizing: content-box;
}

.array-element.unsorted {
  color: #f25757;
  border: 2px solid #f25757;
}

.array-element.hide {
  opacity: 0;
}

.array-element.show {
  opacity: 1;
}

.array-element.zoom-in-with-sorted {
  border: 2px solid #85cb33;
  color: #85cb33;
  box-shadow: 0px 0px 5px 5px white;
  transform: scale(1.3);
}

.array-element.zoom-out {
  box-shadow: none;
  transform: scale(1);
}


.array {
  display: flex;
}

.root-row {
  display: flex;
}

.space-around {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.heading {
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

ul {
  text-align: center;
  list-style-type: disc;
  color: white;
  font-size: 25px;
}

li {
  position: relative;
}
.control-speed {
 display: flex;
 align-items: center;
}

label {
  color: white;
  margin-right: 2vh;
  font-size: large;
  font-size: 22px;
  font-weight: 700;
}

img {
  position: absolute;
  width: 90vh;
  top: -45px;
  border-radius: 31px;
  left: 55px;
  opacity: 0.85;
  transition: all 0.3s ease-in;
}

.note {
  margin: 0;
  position: relative;
  z-index: 2;
}
.important {
  color: red;
}

.footer {
  position: absolute;
  bottom: 0px;
}

.footer a {
  font-size: medium;
}

.input-range-wrapper {
  display: flex;
  width: 260px;
  justify-content: space-around;
  align-items: center;
}




input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 200px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}