*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: white;
}

html, #root {
  width: 100wh;
  height: 100vh;
  background-color: #080708;
}

.App {
  height: 100%;
}

.home-alog-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.home-alog-list li {
  margin-bottom: 1em;
}

.home-alog-list li a {
  text-decoration: none;
}

.drawer-body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

.drawer-body + .footer a, .drawer-body + .footer  h5 
{
  color: black;
}

h1 {
  color: white;
  text-align: center;
}

.visRoot {
  display: flex;
  justify-content: center;
}

.main-header {
  margin: 3vh 2vh 3vh 2vh;
}

.main-header .replay {
  background-color: #ffc107;
}

a {
  color: white;
  font-size: x-large;
  margin: 10px;
  position: relative;
  z-index: 2;
}

.drawer-link {
  color: black;
  font-size: 22px;
  text-decoration: none;
}

.control-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

button {
  background: #fff0;
  border: 1px solid white;
  cursor: pointer;
  font-size: large;
  height: 5vh;
  width: 10vw;
  border-radius: 44px;
}

.array-element {
  position: relative;
  height: 22px;
  width: 22px;
  font-size: 18px;
  padding: 2px;
  background: white;
  margin: 1px;
  text-align: center;
  box-sizing: content-box;
  border-radius: 4px;
  font-weight: 600;
}

.array-element.unsorted {
  color: #bc0000;
  border: 2px solid #f25757;
}

.array-element.hide {
  opacity: 0;
}

.array-element.show {
  opacity: 1;
}

.array-element.zoom-in-with-sorted {
  border: 2px solid #85cb33;
  color: #415925;
  box-shadow: 0px 0px 3px 3px white;
  transform: scale(1.4);
  z-index: 1;
}

.array-element.zoom-out {
  box-shadow: none;
  transform: scale(1);
  z-index: 0;
}

.array {
  display: flex;
}

.root-row {
  display: flex;
}

.space-around {
  display: flex;
  justify-content: space-around;
  margin-top: 3vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.heading {
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

ul {
  text-align: center;
  list-style-type: disc;
  color: white;
  font-size: 25px;
}

li {
  position: relative;
}
.control-speed {
  display: flex;
  align-items: center;
}

label {
  color: white;
  margin-right: 2vh;
  font-size: large;
  font-size: 22px;
  font-weight: 700;
}

.note {
  margin: 0;
  position: relative;
  z-index: 2;
}
.important {
  color: red;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 1.5em;
}

.footer h5 {
  font-size: 20px;
  margin: 1em 0;
  color: white;
}

.footer a {
  font-size: 16px;
  margin-left: 0;
}

.input-range-wrapper {
  display: flex;
  width: 260px;
  justify-content: space-around;
  align-items: center;
}

.pivot-label {
  font-size: 10px;
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-weight: bolder;
}


input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 200px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497e3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #2497e3;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497e3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2497e3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #2497e3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #2497e3;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #2497e3;
}
